<!DOCTYPE html>
<html lang="en">
<style>
table {
	table-layout: fixed;
	border: 5px solid rgba(0, 0, 0, 1);
	border-collapse: collapse;
}
td {
	width: 5px; 
	height: 5px;
}
</style>
<body>
{% if cipher is string %}
    <h1>Error: Check input prisoner</h1>
{% else %}
	<h1>Imprisoned:</h1>
	<table>
	{% for row in cipher %}
		<tr>
		{% for element in row %}
			{% if element == 1 %}
				<td bgcolor="#FFFFFF"> </td>
			{% else %}
				<td bgcolor="#000000"> </td>
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
{% endif %}
</body>
</html>